{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 30%;">Nome</th>
        <th scope="col" style="width: 40%;">Descrição</th>
        <th scope="col" style="width: 20%;">Opções</th>
    </tr>
{% endblock %}

{% block rows %}
    {#  For CBV -> is necessary to insert object_list  #}
    {% for c in object_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.desc }}</td>
            <td>
                <a href="{% url 'core:category_update' c.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}